@import "tailwindcss";

/* Register IBM Plex Sans Regular */
@font-face {
  font-family: "IBM Plex Sans";
  src: url("./assets/IBMPlexSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html, body, #root {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

body {
  font-family: "IBM Plex Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
  color:#1D1D1D;
  background-color: #FFFFFF;
}
